*{
    box-sizing: border-box;
}
body{
background-color: #C4E8F1;
background-image:url(../img/ethiopia2.svg);
background-repeat: no-repeat;
background-size: 40vw;
background-position-x: 1300px;
background-position-y: 120px;
}
.sidenav {
height: 100%;
width: 15%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #55A9BE;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #090A4E;
display: block;
}

.sidenav a:hover {
color: #00CCFF
}
.nav-active {
    border-bottom: 4px solid white;
    width: 200px;
  }

.main {
margin-left: 20%; /* Same as the width of the sidenav */
font-size: 28px;
padding: 0px 10px;
}
.main a{
text-decoration: none;
color: #090A4E;
}
.main a:hover{
color: #00CCFF;
}

#logo{
font-family: 'Chalkboard';
font-size: 2vw;
}
#dropdownSize{
font-size: 1.5rem;
padding: 10px 5px;
}
ul{
list-style: none;
padding: 0;
color: white;
}
.border{
border-radius: 20px;
background-color:rgba(255, 255, 255, 0.9);;
margin: 20px 20px;
padding:30px 20px;
box-shadow: 0px 3px 6px;

}
.border a {
display: block;
}
.svg{
padding-top: 5px;
color: black;
}
h2{
    font-family: 'Cascadia Code';
    font-size: 2.5rem;

}
h3{
color: #00CCFF;
}
h4{
    font-family: 'Cascadia Code';
    font-size: 1.9rem;
}
hr{
    color: white;
}
.ethio-back img{
position: absolute;
right:2vw;
top:10vw;
}
.blue li{
    color: #00CCFF;
    font-family: 'CascadiaCode';
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.blue span{
    color: black;
    
}
.input-style{
    background-color:#C4E8F1;
     border: 3px solid white; 
     color:black;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }